<div class="col-md-12">
  <%= link_to 'New Channel', new_channel_path %>
  <p id="notice"><%= notice %></p>
  <h1>Listing Channels</h1>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rewards</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td>
          <% channel.rewards.each do |reward| %>
          <span class="label label-default"><%=reward.name%></span>
          <%end%>
        </td>
        <td>
          <span class="pull-right">
            <%= link_to 'Show', channel , :class=>"btn btn-default btn-xs"%>
            <%= link_to 'Edit', edit_channel_path(channel) , :class=>"btn btn-primary btn-xs"%>
            <%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-danger btn-xs"%>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>